ul {
    list-style-type: none;
    margin: 30;
    padding: 0;
    overflow: hidden;
    background-color: red;
  }
  .Liste{
    list-style-type: none;
    margin: 5px;
    padding: 0;
    background-color:white;
    font-size: large;
  }
  li {
    float: left;
  }
  
  .ST{
    color: black;
    font-size: 30px;
  }



  li a {
    display: block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: blue

  }
  
  .active {
    background-color: #04AA6D;
  }
    a:link, a:visited {
        background-color:black;
        color:white;
        padding: 30px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: red;
      }
    


.House{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 1540px;
  margin-top: 8px;
}


.Rechts{
    float:right;
}

.Messi{
    font-size: 70px
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.wrapper {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.website {
  width: 40ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
}


.container {
  background-color: #f1f1f1;
  padding: 20px;
}


#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}


.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}


.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
}

.KS{
  font-size: 50px
}

.Sf{
  font-size: 70px
}

.m10{
  color: blue
}

.Leo{
  color:red
}



* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  width: 300px;
  height: 300px;
}
